header nav ul li {
    display: inline-block;
    
}
header{
    display: flex;
    justify-content: flex-end;
    padding: 30px 10%;
}
header div img {
    margin-left: 150px;
    margin-top: -440px;
}

.withLogo {
    margin-bottom: -60px;
    margin-top: -23px;
    
}

header div {
    display: inline-block;
    margin-right: auto;
    font-family: 'Pacifico', cursive;
}
header div h1 , header div h3 {
    margin-left: 220px;
}

#midd {
 margin-left: auto;
 margin-right:auto ;
 display: block;
}

.para{
    font-family: 'Teko', sans-serif;
    margin-left: 300px;
    margin-top: 70px;
    margin-bottom: -20px;
}

.withPara {
    margin-left: 300px;
    }



 main h3 {
    color: #9a8c98;

    font-family: 'Teko', sans-serif;
    margin-left: 220px;

}

p {
    color: #9a8c98;
    margin-left: 300px;
    font-size: large;
}


form {
    background-image: url(../images/list-bg.png);
    height: 300px;
    margin-top: 60px;


    }

    .box1 {
        /* display: block; */
        /* margin-left: 220px; */
        margin-left: 220px;
        margin-top: 0px;

        
    }
    .box2 {
        /* margin-left: 220px; */
     float: right;
     margin-top: -100px;
    }


    .footer {
        margin: 220px;
    }
    
    div ul li  {
        display: inline-block;
    }

    .van {
        margin-left: 80px;
        font-family: 'Roboto Slab', serif;
        color: #8e9aaf;
    }


    .name {
        font-family: 'Roboto Slab', serif;

    }

    button {
        padding: 10px 20px 10px 20px ;
        float: right;
        background-color: rgb(139, 65, 57);
        color: silver;
    }


    footer img {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    footer p 
    {

        color: #9a8c98;
        text-align: center;
        font-family: 'Syne Mono', monospace;
        margin-left: -22px;


    }
