header nav ul li {
    display: inline-block;
    
}
header{
    display: flex;
    justify-content: flex-end;
    padding: 30px 10%;
}
.logo {
    margin-right: auto;
}

header div {
    display: inline-block;
    margin-right: auto;
    font-family: 'Pacifico', cursive;
}
header div h1 , header div h3 {
    margin-left: 220px;
}

#midd {
 margin-left: auto;
 margin-right:auto ;
 display: block;
}

.para{
    font-family: 'Teko', sans-serif;
    margin-left: 220px;
}
 main h3 {
    color: #9a8c98;

    font-family: 'Teko', sans-serif;
    margin-left: 220px;

}

p {
    color: #9a8c98;
    margin-left: 220px;
    font-size: large;
}


form {
    background-image: url(../images/list-bg.png);


    }

    .box1 {
        display: block;
        margin-left: 220px;
        
    }
    .box2 {
        margin-left: 220px;
    }


    .footer {
        margin: 220px;
    }
    
    div ul li  {
        display: inline-block;
    }

    .van {
        margin-left: 80px;
    }

    button {
        padding: 10px 20px 10px 20px ;
        float: right;
        background-color: rgb(139, 65, 57);
        color: silver;
    }


    footer img {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    footer p 
    {

        color: #9a8c98;
        text-align: center;
        font-family: 'Syne Mono', monospace;

    }